

        .clock{
        border-radius: 50%;
        background-color: rgb(178, 182, 182);
        height: 400px;
        width: 400px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        box-shadow: 0px 0px 20px grey;

    }
.hour
{
    position: absolute;
    background-color: red;
    width: 8px;
    height: 150px;
    border-radius: 10px;
    left: 200px;
    top: 50px;
    animation:hourNeedle 120s infinite;
    transform-origin: bottom center;
    animation-timing-function: linear
}

@keyframes hourNeedle {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg );}
    
}
.minute
{
    position: absolute;
    background-color: red;
    width: 5px;
    height: 180px;
    border-radius: 10px;
    left: 200px;
    top: 10px;
    animation:minuteNeedle 50s infinite;
    transform-origin: bottom center;
    animation-timing-function: linear;
}
@keyframes minuteNeedle {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg );}
    
}
.second
{
    position: absolute;
    background-color: red;
    width: 3px;
    height: 190px;
    border-radius: 10px;
    left: 200px;
    top: 10px;
    animation:secondNeedle 6s infinite;
    transform-origin: bottom center;
    animation-timing-function: linear;
}
@keyframes secondNeedle {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg );}
    
}
.circle
{
    background-color: red;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}